folder_id                = "b1g98bp981ihr1k56bpu"
cloud_id                 = "b1g6j6mert2ilunveicm"
zone                     = "ru-central1-a"
service_account_key_file = "../../key.json"
image_id                 = "fd85erel728aanb74bhc"
subnet_id                = "e9bgvkucr64cnrchp2gj"
public_key_path          = "~/.ssh/appuser.pub"
private_key              = "~/.ssh/appuser"
